# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters: {}

services:
    # ----------------------------------
    # Defaults for all services
    # ----------------------------------
    _defaults:
        autowire: true
        autoconfigure: true

    # ----------------------------------
    # Automatically register services
    # ----------------------------------
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'


    # ----------------------------------
    # Event listeners
    # ----------------------------------
    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }
